* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --white: #ffffff;
  --black: #000000;
  --hospital-green: #acd9b2;
  --sm: 1rem;
  --md: 1.5rem;
  --lg: 2rem;

  --font: "Quicksand", sans-serif;
}

body {
  font-size: 62.5%;
  font-family: var(--font);
}

.cards__conteiner {
  display: grid;
  grid-template-columns: repeat(auto-fill, 240px);
  gap: 20px;
  place-content: center;
}

.cards__producto {
  width: 240px;
}

.cards__producto img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
  object-fit: cover;
}

.products__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.products__info figure {
  margin: 0;
}

.products__info figure img {
  width: 35px;
  height: 35px;
}

.products__info div p:nth-child(1) {
  font-weight: bold;
  font-size: var(--md);

  margin-bottom: 4px;
}

.products__info div p:nth-child(2) {
  font-size: var(--sm);
  color: var(--very-light-pink);
  margin-top: 0;
  margin-bottom: 0;
}

/*--------------MENU------------*/

.nav__desktop {
  width: 150px;
  height: auto;
  border: 1px solid var(--very-light-pink);
  border-radius: 8px;
  padding: 20px;
}

.nav__desktop a {
  text-decoration: none;
}

.nav__desktop ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__desktop ul li {
  text-align: end;
  text-decoration: none;
}

.nav__desktop ul li a {
  color: var(--black);
  margin-bottom: 20px;
  font-size: var(--sm);
  display: inline-block;
  font-weight: 600;
}

.nav__desktop ul li:last-child {
  border-top: 1px solid var(--very-light-pink);
}

.nav__desktop ul li:last-child a {
  font-size: var(--sm);
  color: var(--hospital-green);
  font-weight: bold;
}

/*---------------Menu Mobile--------*/

.nav__mobile {
  padding: 24px;
}

.nav__mobile ul {
  padding: 0;
  list-style: none;
  margin: 0;
  margin: 24px 0 0;
}

.nav__mobile ul .others {
  border-bottom: solid 1px var(--very-light-pink);
}

.nav__mobile ul li {
  margin-bottom: 24px;
}

.nav__mobile a {
  text-decoration: none;
  color: var(--black);
  font-weight: bold;
  font-size: var(--md);
}

.nav__mobile .email {
  font-size: var(--sm);
  font-weight: 300;
  color: var(--very-light-pink);
}

.sign__out {
  font-size: var(--sm);
  color: var(--hospital-green);
}

/*----------My order-------------*/

.my__order {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.my__order-conteiner {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.my__order-order {
  font-size: var(--lg);
  margin-bottom: 40px;
}

.my__order-info {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.my__order-conteiner figure img {
  width: 200px;
  border-radius: 4px;
  object-fit: cover;
  margin-bottom: 12px;
}

.my__order-cards {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;

  align-items: center;
}

.my__order-cards figure {
  margin: 0;
}

.my__order-cards p:nth-child(2) {
  color: var(--very-light-pink);
  font-size: var(--md);
}

.my__order-cards p:nth-child(3) {
  color: var(--black);
  font-size: var(--md);
  font-weight: bold;
}

.my__order-info .order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;
  background-color: var(--text-input-field);
  margin: 12px 0 20px 0;
  border-radius: 4px;
  padding: 8px 20px;
  font-size: var(--sm);
}

.my__order-info .order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.my__order-info .order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}

.my__order-info .order p span:nth-child(1) {
  font-size: var(--md);
  font-weight: bold;
}

.my__order-info .order p span:nth-child(2) {
  font-size: var(--sm);
  color: var(--hospital-green);
}

/*--------------Mis ordenes----------*/

.orders {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 20px;
  align-items: center;
  margin: 12px 0 20px 0;
  font-size: var(--sm);
}

/*--------------Media Querys -------------*/

@media (min-width: 640px) {
  .cards__conteiner {
    grid-template-columns: repeat(auto-fill, 140px);
  }

  .cards__producto {
    width: 140px;
  }

  .cards__producto img {
    width: 140px;
    height: 140px;
  }
}
